.card-sections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* max-width: 1000px;
    margin: 0 auto; */
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.web-section {
    max-width: 1100px;
    margin: 40px auto;
}

.web-section h2 {
    text-align: center;
    font-size: 30px;
}