.subheader {
    display: flex;
    gap: 40px;
    padding: 12px 40px;
    background: #e4e1e1;
    justify-content: center;
    position: sticky;
    top: 72px;
    z-index: 1000;
    border-bottom: 1px solid #ccc4c4;
}

.menu-wrapper {
    position: relative;
}

.menu-item {
    cursor: pointer;
    font-weight: 500;
}

.dropdown {
    position: absolute;
    top: 35px;
    left: -57px;
    background: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
    min-width: 200px;
    z-index: 1000;
}

.dropdown p {
    cursor: pointer;
}

.dropdown p:hover {
    color: #007bff;
}