.chairs-page {

    padding: 40px;
    font-family: sans-serif;

}

.page-title {

    text-align: center;
    margin-bottom: 40px;

}


/* grid */

.chairs-grid {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;

}


/* card */

.chair-card {

    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
    background: white;

}

.chair-card:hover {

    transform: translateY(-5px);

}


.chair-image {

    width: 100%;
    height: 220px;
    object-fit: cover;

}

.chair-info {

    padding: 15px;

}


.price-section {

    display: flex;
    gap: 10px;
    align-items: center;

}

.offer-price {

    color: #e53935;
    font-weight: bold;

}

.actual-price {

    text-decoration: line-through;
    color: gray;

}


.color-list {

    margin-top: 10px;
    display: flex;
    gap: 8px;

}

.color-dot {

    width: 16px;
    height: 16px;
    border-radius: 50%;

}


/* modal */

.modal-overlay {

    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

}


.modal {

    width: 800px;
    background: white;
    border-radius: 12px;
    display: flex;
    overflow: hidden;

}


.modal-left {

    width: 50%;

}

.modal-left img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}


.modal-right {

    padding: 25px;
    width: 50%;

}


.highlights {

    padding-left: 18px;

}


.big {

    font-size: 20px;

}